@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "DM Sans", sans-serif;

  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;

  --color-nav-black: #0f0f0f;
  --color-nav-gray: #3f3f3f;
  --color-nav-white: #fff;
}

:root {
  --nav-light: #ffffff;
  --nav-border: rgba(255, 255, 255, 0.2);
  --nav-text: #111111;
}

.nav-wrap {
  border: 1px solid var(--nav-border);
  width: fit-content;
  margin: 0 auto;
  border-radius: 500px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.nav-wrap:after {
  content: "";
  display: block;
  position: absolute;
  inset: -5px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
  border-radius: 500px;
  z-index: -1;
}

.nav {
  width: fit-content;
  anchor-name: --nav;
  margin: 6.7px;
}

.nav a {
  z-index: 10;
  position: relative;
  display: inline-block;
  padding: 14px 38px;
  color: white;
  text-decoration: none;
}

.nav a:before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  opacity: 0.2;
}

.nav a.router-link-active {
  anchor-name: --active;
  color: #111111;
}

.nav a:hover:before {
  anchor-name: --nav;
}

.bubble {
  background: white;
  /* z-index: 5; */
  top: anchor(top);
  right: anchor(right);
  bottom: anchor(bottom);
  left: anchor(left);
  position: absolute;
  transition: all 0.2s;
  border-radius: 500px;
}

.bubble.active {
  position-anchor: --active;
  z-index: 2;
  background: linear-gradient(180deg, #ffffff, #f0f0f0);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(255, 255, 255, 0.8);
}

.bubble.hover {
  z-index: 1;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  box-shadow: inset 0 2px 7px rgba(255, 255, 255, 0.2);
  position-anchor: --nav;
}

.target {
  position: relative;
  z-index: -1;
}
